
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #5656ff;
    --cor2: #5656ff;
    /* --cor2: #4040ff; */
    /*--cor2: #51ADE5;*/
    /* --cor2: #5656ff;*/
    /* --cor3: #060638; */
    --cor3: #f3f3f3;
    --cor4: #FFCF00;
    /*--cor5: #47C4E1;*/
    /*--cor5: #4a8bb4;*/
    --cor5: #578CFF;

    --text-color1: rgba(0, 0, 0, 1);
    --text-color2: rgba(0, 0, 0, 0.7);
    --text-color3: rgba(0, 0, 0, 0.5);
    --text-color4: rgba(0, 0, 0, 0.3);

    --bg-color: rgba(255, 255, 255, 1);
    --bg-color2:rgba(255, 255, 255, 0.5);
    --bg-color3:#ebebeb;
}

/* Estilos para o cabeçalho da página */
h1 {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
}

/* Estilos para a seção de ações */
.actions {
  text-align: center;
  margin: 20px;
}

/* Estilos para os campos de entrada */
input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg-color) ;
}

.icon {
    width: 20px;
}

/* Barra de navegação */ 
header {
    margin: 0 !important;
}

/* header {
    position: relative;
}
  
header #menu {
    background: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
} */


nav:nth-child(1) {
    /* background-color: #5656ff !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); */
    
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0;
}

.offcanvas-lg {
    color: var(--text-color1);
    background-color: var(--bg-color);
}

 .offcanvas-lg .offcanvas-header {
    color: var(--text-color3);
    border-bottom: 2px solid #e7e7e7;
}

.offcanvas-lg a {
    color: var(--text-color2) !important;
    border-bottom: 2px solid transparent;
}

.offcanvas-lg .nav-item .active {
    color: var(--text-color1) !important;
    font-weight: bold !important;
}

.offcanvas-lg a:hover {
    color: var(--text-color2);
    font-weight: bold;
}

#offcanvas-btn {
    color: var(--text-color1);
    background-color: transparent !important;
}

.navbar,
.navbar:hover {
    background: var(--cor3) !important;
}

#logo{
    height: 50px;
    padding: 5px;
}

#perfil {
    width: 80px;
}

.navbar-brand {
    font-weight: 700;
} 

.navbar-brand:hover, 
#navbarNav a:hover {
    font-weight: 700;
}

.nav-expand-lg, 
.navbar-nav, 
.nav-link { 
    padding: 1rem 1rem;
}

.sitePrincipal .btn {
    background: var(--cor2);
    border: var(--cor2);
}

.sitePrincipal .btn:hover {
    color: var(--bg-color);
    background: var(--cor5);
    border: var(--cor4);
}

.login ul {
    list-style: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.login .nav-item .nav-link {
    color: var(--text-color3) !important;
    background: transparent;
    border: 2px solid var(--text-color3);
    padding: .6rem 1rem;
    border-radius: .3rem;
}

.login .nav-item .nav-link:hover,
.login .nav-item .active {
    color: var(--cor4) !important;
    background: transparent;
    border: 2px solid var(--cor4);
}

.menuCrud h1 {
	color: var(--text-color2);
    background: var(--cor3) !important;
    padding: 10px 0;
    margin: 0;
}

.menuCrud ul {
    background: var(--cor3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.menuCrud .nav-item .nav-link {
	color: var(--text-color3);
    color: var(--cor2);
    background-color: red !important;
	font-weight: bold;
    border-bottom: 2px solid var(--cor2);
}

.menuCrud .nav-item .active {
	color: var(--cor2);
	font-weight: bold;
    border-bottom: 2px solid var(--cor2);
}

/* CAROUSEL */

#carousel-principal {
    padding: 0 !important;
}

header .carousel-item {
    height: 100%;
    background: var(--bg-color) no-repeat center center/cover;
    
}

header .carousel-caption {
    font-family: 'Times New Roman', Times, serif;
    height: 12em;
    margin-bottom: 10em;
  }
  
  header #carousel-principal .carousel-inner {
    height: 40em;
  }
  
  header #carousel-principal .carousel-item:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.25)), url(/images/carousel/desktop-1.jpg);
  }
  
  header #carousel-principal .carousel-item:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.25)), url(/images/carousel/desktop-2.jpg);
  }
  
  header #carousel-principal .carousel-item:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.25)), url(/images/carousel/desktop-3.jpg);
  }

#div-form {
    background: var(--cor3);
}

form {
    background: var(--bg-color);
    border-radius: 5px;
    max-width: 1100px;
}

.form-nav {
    width: 48%;
}

main:nth-child(1) {
    margin-top: 28rem !important;
}

main section {
    max-width: 1100px;
    margin: auto;
}

/* CARDS */

#hospedagens .card,
#promocoes .card,
#passagens .card,
#destinos .card {
    background: var(--bg-color);
    min-width: 230px !important;
    min-height: 100%;
    margin: 0 1rem 1rem 0;
}

#hospedagens .card img,
#promocoes .card img,
#passagens .card img,
#destinos .card  {
    /* object-fit: cover; */
    min-width: 100% ;
    height: auto;
} 

.card:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  

/* SCROLLBAR */
/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 15px; /* largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* cor de fundo da trilha */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c0c0c0; /* cor do indicador da barra de rolagem */
    border-radius: 6px; /* borda arredondada do indicador */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* cor do indicador da barra de rolagem */
    border-radius: 6px; /* borda arredondada do indicador */
  }

/* scrollbar-width: thin;
scrollbar-color: #f1f1f1 #888; */

#ver-mais .btn {
    /* font-size: .8em; */
    color: var(--text-color1);
    text-decoration: none;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 25px;
    align-self: center;
    /* margin: 10px 0; */
}

#ver-mais a:hover {
    background: var(--cor4);
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    /* font-size: 1em; */
    /* margin: 8px 0; */
}

.rate {
    display: inline;
    color: #fff;
    background: rgb(0, 164, 0);
    border-radius: 5px;
    padding: 0px 5px;
    margin-right: 5px;
}

.bi-star-fill,
.bi-star-half,
.bi-star {
    color: #FFCF00;
}

.balao-promo {
    color: #fff;
    background: red;
    border: 2px solid red;
    border-radius: 5px;
    padding: 0px 10px;
}



@media (min-width: 994px) {

    /* customNav {
        border-bottom: 2px solid var(--bg-color2) !important;
    }
     */
    .offcanvas-lg {
      background: transparent !important;
    }

    .offcanvas-lg ul {
        /* border-bottom: 2px solid #ff5656 !important; */
      }

    .offcanvas-lg a {
      color: var(--bg-color2) !important;
      border-bottom: 3px solid transparent !important;
    }

    .login .nav-item .nav-link {
        color: var(--bg-color2) !important;
        background: transparent;
        border: 3px solid var(--bg-color2);
        padding: .6rem 1rem;
        border-radius: .3rem;
    }

    .offcanvas-lg .nav-item .nav-link:hover {
      color: rgba(255, 255, 255, 0.7) !important;
      font-weight: bold;

      
      /* border: 3px solid var(--bg-color2); */
      font-weight: bold;
      /* border-bottom:  3px solid var(--bg-color2); */
    }

    .login .nav-item .nav-link:hover {
      color: rgba(255, 255, 255, 0.7) !important;
      
      border: 3px solid rgba(255, 255, 255, 0.7);
      font-weight: bold;
    }
    
    .offcanvas-lg .nav-item .active {
        font-weight: bold;
        color: var(--cor4) !important;
        border-bottom:  3px solid var(--cor4) !important;
      }  
    
    .login .nav-item .active {
        color: var(--cor4) !important;
        font-weight: bold;
        border: 3px solid var(--cor4);
    }
    
    
}